@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background: #87CEEB;
}

.header {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 200px;
}

main {
  height: auto;
  height: 90%;
}

h1 {
  text-align: center;
}

.input-area {
  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.buscar {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 25px;
  color: #FFF;
}

.input {
  font-size: 18px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.input:focus {
  outline: 2px solid #1E90FF ;
  
}

.button {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.result {
  display: none;
  background: #D3D3D3;
}

.ventoArea {
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ventoPonto {
  width: 3px;
  height: 22px;
  background-color: red;
  bottom: 50%;
  transform-origin: 50% 100%;
}

.footer {
  text-align: center;
}

.loader {
  border: 5px solid #f3f3f3; /* Cor do fundo */
  border-top: 5px solid #3498db; /* Cor do spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
