* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

main {
  height: auto;
  height: 90%;
}

h1 {
  text-align: center;
}

.input-area {
  width: 100vw;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  text-align: center;
}